*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
}
body{
    background-color: aqua;
}
body h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 35px;
    
}